body {
  margin: 0;
  display: block;
  max-height: 100%;
  max-width: 100%;
  background-image: url("../img/fond1.jpg");
}

#Menu ul {
  margin-left: 25%;
}

h3 {
  margin: 0;
}

#Contenuprincipal {
  position: relative;
  background-color: #3498db;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 95%;
  margin-left: 5%;

}

.home {
  padding-left: 250px;
  padding-right: 250px;
  background-color: white;
  color: black;
  text-align: center;
}

.element{
  transition: all 0.25s ease-in-out;
}

.element{
  background-image: linear-gradient(90deg, white, grey);
}

.home{
  background-image: linear-gradient(90deg, white, grey);
}

.home{
  background-color: grey;
  box-shadow: inset 150px 0 75px -75px white;
  margin-top: 10px;
}