*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box2 {
    width: 600px;
    height: 6000px;
    padding: 25px;
    background: #fff;
    border-radius: 3px;
}
.box h3 strong {
    color: #5260ad;
    font-weight: 900;
}

.page_central {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 5%;
    background-image: url("../img/fond2.jpg");
}

.box {
    width: 500px;
    height: auto;
    padding: 25px;
    background: #fff;
    border-radius: 3px;
}
.box h3 strong {
    color: #5260ad;
    font-weight: 900;
}
.formBloc h3 {
    color: #666;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 45px;
}

.formBloc .formGroupe {
    position: relative;
    display: flex;
    margin-bottom: 50px;
}
.formBloc .formGroupe label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 20px;
    transition: 0.4s ease-out;
}
.formBloc .formGroupe input {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaa;
    color: #666;
    font-size: 20px;
    transition: 0.4s ease-out;
}

.formGroupe:nth-child(4) {
    margin-bottom: 65px;
    justify-content: center;
}
.formBloc .formGroupe .buttonSub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid #8b97d7;
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, #5260ad 50%, #8b97d7);
    background-size: 200%;
    color: #8b97d7;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.formBloc .formGroupe .buttonSub:hover {
    color: #fff;
    background-position: 100%;
    border: 3px solid #fff;
}

.formBloc .modifidentifiant a {
    color: #8b97d7;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.formBloc .modifidentifiant a:hover {
    border-bottom-color: #8b97d7;
}


/* Animation */

/* permet au date de ne pas etre juxtaposer avec les labels */
#animeFixe label{
    transform: translateY(-150%);
}

.formBloc .formGroupe:focus-within label,
.formBloc .formGroupe.animation label {
    top: 0px;
    transform: translateY(-100%);
    color: #8b97d7;
}

.formBloc .formGroupe:focus-within input,
.formBloc .formGroupe.animation input {
    border-bottom-color: #8b97d7;
}   


.action-button {
    padding: 10px 40px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}