<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
    </head>
    <body>
        <h2> Liste des mangas </h2>
        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Numéro</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${mangas.empty}">
                <td colspan="3">Aucun mangas en base de données</td>
            </tr>
            <tr th:each="manga: ${mangas}">
                <td><span th:text="${mangas.title}"> Titre </span></td>
                <td><span th:text="${mangas.author}"> Auteur </span></td>
                <td><span th:text="${mangas.numero}"> Numéro </span></td>
            </tr>
            </tbody>
        </table>

    </body>
</html>